a {
  color: #008ae6;
}

img.inline-left {
   max-width: 75%;
   align: left;
   display: block;
   margin-left: auto;
   margin-right: 4px;
   float: right;
}

img.inline-right {
   max-width: 75%;
   alight: right;
   display: block;
   margin-left: 4px;
   margin-right: auto;
   float: left;
}